
<form id="form1" name="form1" method="post" action="/member_reg">
  <table width="200" border="0" align="center" cellpadding="10">

    <tr>
      <td>Email</td>
      <td><label for="textfield7"></label>
      <input type="email" name="email" id="textfield7" required="required"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label for="textfield8"></label>
      <input type="tel" name="phone" id="textfield8" required="required" pattern="[6789][0-9]{9}"/></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Add" style="padding: 4px 24px;" class="btn btn-primary"/>
      </div></td>
    </tr>
  </table>
</form>

